@import "../../App.scss";

.page-home-hero {
  height: calc(100vh - 3.5rem);
  background-color: $color-black;
  color: $color-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 2rem;

  @include mq($from: medium) {
    height: calc(100vh - 5rem);
    align-items: flex-start;
    justify-content: center;
    padding-top: 0;
  }

  h1 {
    max-width: 10rem;

    @include mq($from: medium) {
      max-width: unset;
    }
  }

  p {
    margin-bottom: 1.5rem;
  }
}

.page-home-bar {
  background-color: $color-light-gray;
  text-align: center;

  h2 {
    color: $color-black;
  }

  p {
    color: $color-dark-gray;
  }

  .container {
    max-width: 36rem;
    padding-top: 3rem;
    padding-bottom: 3rem;

    @include mq($from: medium) {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
  }
}

.content-section {
  background-color: $color-white;
  display: flex;
  flex-direction: column;

  &-image {
    margin-left: -1rem;
    margin-right: -1rem;

    & > div {
      height: 0;
      padding-bottom: 100%;
      background-color: $color-dark-gray;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &-text {
    overflow-y: auto;
    padding-top: 1rem;
    padding-bottom: 3rem;
    text-align: center;

    h2 {
      color: $color-black;
    }

    p {
      color: $color-dark-gray;
    }
  }

  @include mq($from: large) {
    flex-direction: row;
    padding-top: 5rem;
    padding-bottom: 5rem;
   
    & > div {
      flex: 1;
    }

    &-image {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 1rem;
    }

    &-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      padding-left: 5rem;
      padding-right: 0;
      padding-top: 0;
      padding-bottom: 0;
    }

    &--flipped &-image {
      order: 2;
      padding-left: 1rem;
      padding-right: 0;
    }

    &--flipped &-text {
      order: 1;
      padding-left: 0;
      padding-right: 5rem;
    }
  }
}
