@import "../../App.scss";

.page-home-hero {
  height: calc(100vh - 3.5rem);
  background-color: $color-black;
  color: $color-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 2rem;

  @include mq($from: medium) {
    height: calc(100vh - 5rem);
    align-items: flex-start;
    justify-content: center;
    padding-top: 0;
  }

  h1 {
    margin-bottom: 1rem;
    max-width: 10rem;

    @include mq($from: medium) {
      max-width: unset;
    }
  }

  p {
    margin-bottom: 1.5rem;
  }
}
